.lightslategray-background {
  background: lightslategray;
  width : 100%; 
  height : 100vh;
}

.lightslategray-background h2 {
  text-align: center;
  padding-bottom : 60px;
  color : white;
  text-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
